<section id="intro">
	<div class="center-intro hero-unit">
		<headline>
			Vajapravin
			<p><span>Mobile Application Developer</span></p>
		</headline>
		<div align="left" class="article">
			<h1>Pravin Vaja</h1>
			<hr>			
			<%= gravatar_for %>
			<!-- <img class="photo" src="/img/jonas-jared-jacek.jpg" alt="Jonas Jacek" height="150" width="120" /> -->
			<pre>I am a Mobile Application Developer {Android & Blackberry} working at Define Labs which provide software design and development services for Mobile and the Web in Pune which I founded in 2011. The focus of my work — in general — is on Android, Blackberry Development as per client requirement.</pre>			
		</div>
	</div>
</section>

<section id="portfolio">
	<div class="center-portfolio hero-unit">
		<div align="left" class="portfolio">
			<h1>My Portfolio :)</h1>
			<hr>
			<pre>I have experience on Android and Blackberry Mobile Application Development which is based on Web Services, C2DM, Google Map, Theme, Social Network, also Facebook, LinkedIn and Twitter for profile and various APIs.</pre>		
		</div>	
	</div>
</section>

<section id="about">
	<div class="center-portfolio hero-unit">
		<div align="left" class="about">
			<h1>About Me!</h1>
			<hr>
			<pre>I have experience on Android and Blackberry Mobile Application Development which is based on Web Services, C2DM, Google Map, Theme, Social Network, also Facebook, LinkedIn and Twitter for profile and various APIs.</pre>		
		</div>	
	</div>
</section>


<section id="contact">
	<div class="center-portfolio hero-unit">
		<div align="center" class="contact">
			<h1>@ Contact Me</h1>			
			<hr>
			<h1>						
			<table border=0 cellpadding="20">
				<tr>
					<td>Email:</td><td>vajapravin23@gmail.com</td><td align="center">
						<a href='http://www.facebook.com/vajapravin'>facebook</a></td>				</tr>
				<tr>
					<td>Phone:</td><td> +91-9766847415 </td><td align="center">
						<a href='http://stackoverflow.com/users/959712/vajapravin'>stackoverflow</a></td>				</tr>					
				</tr>
			</table>
			</h1>
		</div>	
	</div>
</section>