<header>
	<!-- HTML5 header tag -->
	<div id="headercontainer">
		<h1><a class="introlink anchorLink" href="#intro">Mobile Application Developer</a></h1>
		<div class="menu-top">
			<nav>
				<!-- HTML5 navigation tag -->
				<ul>
					<li>
						<a class="introlink anchorLink" href="#intro">Intro</a>
					</li>
					<li>
						<a class="portfoliolink anchorLink" href="#portfolio">Portfolio</a>
					</li>
					<li>
						<a class="aboutlink anchorLink" href="#about">About</a>
					</li>
					<li>
						<a class="contactlink anchorLink" href="#contact">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
